<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media='all'/>
<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media='all'/>

<section class="well container">
  <div><span class='alert-section alert-success'></span></div>
  <form method='post' class='form-horizontal'>
    <div class='control-group'>
      <span class='control-label'>标题</span>
      <div class='controls'><input type='text' name='title' class='span5 title'/></div>
    </div>
    <div class='control-group'>
      <span class='control-label'>正文</span>
      <div class='controls'>
        <div style='height: 450px' id="epiceditor"></div>
      </div>
    </div>
    <div class='control-group'>
      <div class='controls'>
        <input class='btn btn-primary pull-right submit-btn' type="button" value="发布" />
      </div>
    </div>
  </form>
</section>

<script src="epiceditor/js/epiceditor.min.js"></script>
<script src="javascripts/jquery.min.js"></script>
<script src='javascripts/index.js'></script>
